@import "tailwindcss";
/* @import "daisyui"; */

/* index.css or main CSS file */

body {
  background-color: #ffffff;
  color: #1f2937; /* gray-800 */
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode body {
  background-color: #1f2937; /* gray-800 */
  color: #f9fafb; /* gray-50 */
}

/* Example: dark-mode for specific sections */
.dark-mode .bg-white {
  background-color: #111827; /* gray-900 */
}

.dark-mode .text-gray-800 {
  color: #f9fafb; /* gray-50 */
}
